!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Instaphotos
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .header-wrapper
        .row
          .col.s6
            .logo
              = link_to Instaphotos, root_path
          .col.s6
            %ul.nav
            - if user_signed_in?
              %li 
                = link_to "New Post", new_post_path
              %li
                = link_to "Logout", destroy_user_session_path, method: :delete
            - else
              %li
                = link_to "Login", new_user_session_path
              %li
                = link_to "Register", new_user_registration_path


    .container

      -flash.each do |name, msg|
        = content_tag :div, msg, class: [:alert, alert_for(name)]

      = yield
